node_modules
client/public/room.glb
client/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
client/node_modules/@next/swc-linux-x64-musl/next-swc.linux-x64-musl.node
/home/med/blockchain/client/public/room.glb