body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

#info {
  text-align: center; /* Centers inline elements like <a> and <p> */
  display: flex;      /* Enables flexible box layout */
  flex-direction: column; /* Aligns elements in a column */
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically if needed */
  width: 100%;         /* Makes sure it spans the full width */
  margin-top: 20px;    /* Adjust as needed */
}

/* Update font sizes in typography.css */
h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}